* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0; 
    font-family: 'questrialregular', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-weight: 300;
    color: #2b2a35;
    background: #ffffff;
    line-height: 2;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
}

@font-face {
    font-family: 'questrialregular';
    src: url('fonts/questrial-regular-webfont.woff2') format('woff2'),
         url('fonts/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h2, h4 {
    display: inline-block;
    margin: 0 0 10px;
    line-height: 1.25;
    /* font-family: Mark, sans-serif; */
}
h2 {
    font-size: 34px;
}
h4 {
    font-size: 18px;
}
p {
    word-break: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1rem;
}
.subheadline {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0 0 10px;
    padding: 100px 0 0;
}
.container {
    padding: 0 1.5rem;
    justify-content: center;
    align-content: center;
}

/* Teams */
.team-logos {
    margin: 70px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logos img {
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    vertical-align: middle;
    transform: translate(0, 50%);
}

video {
    max-width: 100%;
    height: auto;
    margin:auto;
    margin-right: 0;
    padding-right: 0;
    vertical-align: middle;
    object-fit: contain;
    
}
.media-teams {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.video-teams {
    display: flex;
    justify-content: center;
    align-items: center;
   
}     
.text-teams {
    padding: 50px 0;
    max-width: 40rem;
    margin: auto;
    
}
.text-teams p {
    color: #545465;
    margin: 16px 0;
    align-items: center;
}
/* NEWS */
.news-cards {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4em 0;
   
}
.col {
    flex: 1;
    padding: 2em;
    margin: 1em;
    border-radius: 0.8em;
    
}
.card-left {
    border: 1px solid #dddfe5;
    box-shadow: 0 0 0 1px #dddfe5;
    overflow: hidden;  
}
.card-left a {
    color:#4966f7;
    font-weight: bold;
    font-size: 1em;
    margin: 1.2em 0 0;
}
.card-left img {
    display: block;
    background: cover;
    max-height: 250px;
    margin: 1em auto;
}  
.card-right {
    background: linear-gradient(91.14deg,#4966f7 0,#8253ff 122.55%);
    color: #ffffff;
    font-size: 1.125em;
    
}
.card-right p {
    margin: 1.125em 0;
}
.card-right h2 {
    padding: 0 0 1.25em;
}
.card-right a {
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    margin: 1.2em 0 0;

}
/* TESTIMONIALS SECTION */
.testimonials  p{
    text-align: left;
}
.testimonials h4, p {
    margin: 0;
}
.heading {
    margin: 0 0 60px;
}
.columns {
    padding-bottom: 8rem;
    overflow: hidden;
}
.column-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 6px;
    margin: 0 0 4rem;
    border: 1px solid #dddfe5;
    box-shadow: 0 0 0 1px #dddfe5;
    overflow: hidden;
    
}
.column-card-top {
    flex: 1;
}
p.light {
    color: #939da8;
    text-align: center; 
}
.testimonial-avatar {
    max-width: 60px;
    vertical-align: middle;
    margin-top: 36px;
    margin-bottom: 12px;
    align-self: center;
}

/* Sign up form */
.text {
    padding: 80px 0;
    
}
.blue-negative {
    background: #586ee0;
    line-height: 1.25;
    padding: 0 15px;
    
}

.blue-negative h2 {
    color: #FFFFFF;
}
.blue-negative p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}
.signup-bottom {
    margin: 40px 0;
}
form {
    display: flex;
    flex-direction: column;
}
.form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 15px;
}
input[type=email]{
    padding: .75rem 1rem .7rem;
    line-height: normal;
    border: 1px solid rgba(255, 255, 255, 0.8);    
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    font-size: 1rem;
    overflow: visible;
}
input[type=email]::placeholder {
    color: #FFFFFF;
}
button.btn-signup {
    font-size: 1rem;
    color: #334ac0;
    line-height: 1;
    padding: .75rem 2rem .7rem;
    border: none;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    outline: 0;
    margin: 0 0 0 -4px;
    border-radius: 0 6px 6px 0;
    font-family: 'questrialregular', sans-serif;
}
.legal-note {
    display: inline-block;
    margin: 10px 0 0;
    
}

/* Footer  */

.footer {
    display: grid;
    grid-template-areas: "footer-right" 
                        "footer-left";
    padding: 0 15px;
    text-align: center;
    width: 100%;
    margin: 8rem auto;
}
.footer-left {
    grid-area: footer-left;
    margin-bottom: 2rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.footer-right {
    grid-area: footer-right;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "second-column"
                         "third-column"
                         "fourth-column";
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.second-column {
    grid-area: second-column;
}
.third-column {
    grid-area: third-column;
}
.fourth-column {
    grid-area: fourth-column;
    text-align: left;
}
.second-column, .third-column, .fourth-column {
    margin: 0 10px 10px;
    align-self: start;
}
h5 {
    margin: 0 0 10px;
    font-size: 15px;
    text-align: center;
}
a {
    display: inline-block;
    font-size: 16px;
    color: #2b2a35;
    padding: 2.35px 0;
}

a {
    text-decoration: none;
    
}
li {
    list-style: none;
    font-size: 16px;
}
.logo {
    margin-top: 0 0 10px;;
}
.social-icons {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-around;
}
.social-icons li {
    padding: 2.32px 0;
    margin: 0 10px 0 0;
    
}
.social-icons li a {
    color: rgba(43, 42, 53, .75);
}
.social-icons li a:hover {
    color: rgba(43, 42, 53);
}
.blue {
    color: #334ac0;
}



/* media queries */

@media screen and (min-width: 281px) {
    
    .footer-right {
        grid-area: footer-right;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "second-column third-column"
                             "fourth-column fourth-column";
        margin-top: 2rem;
        margin-bottom: 2rem;
       
    }
    .second-column {
        grid-area: second-column;
        grid-column: 1 / 2;
    }
    .third-column {
        grid-area: third-column;
        grid-column: 2 / 3;
    }
    .fourth-column {
        grid-area: fourth-column;
        grid-column: 1 / 3;
        width: 14rem;
        justify-self: center;
    }   
}
@media (min-width: 530px) {
    .footer {
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    .footer-right {
        grid-area: footer-right;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "second-column third-column fourth-column";
        margin-top: 2rem;
        margin-bottom: 2rem;
       
    }
    .second-column {
        grid-area: second-column;
        grid-column: 1 / 2;
    }
    .third-column {
        grid-area: third-column;
        grid-column: 2 / 3;
    }
    .fourth-column {
        grid-area: fourth-column;
        grid-column:  3/4;
        width: 14rem;
        justify-self: center;
    }
    h2 {
        font-size: 42px;
    }

}
@media (min-width: 830px)  {
    .team-logos {
        margin: 7rem auto 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (min-width: 640px) {
    .testimonials p {
        font-size: 18px;
    }
    .testimonials h4 {
        font-size: 24px;
    }
}

@media (min-width: 960px) {
    .footer {
        display: grid;
        grid-template-areas: "footer-left footer-right";
        grid-template-columns: 2fr 3fr;
        text-align: left;  
        align-self: start; 
        
    }
    .footer-left {
        grid-column: 1/2;
        justify-self: start;
        margin: 2rem 4rem 0 0;
    }
    .footer-right {
        grid-column: 2/3;
    }
    h5 {
        font-size: 18px;
        text-align: left;
    }
    .social-icons {
        justify-content: start;
    }
    .media-teams {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding-right: 0;
    }
    .video-teams {
        padding-right: 0;
    }
    .text-teams {
        max-width: 40vw;
    }
    
    .text-teams p {
        color: #545465;
        margin: 18px 0;
        font-size: 18px;
        line-height: 2;
    }
    h2 {
        font-size: 60px;
        margin: 0 0 10px;
    }
    .text {
        display: flex;
        flex-direction: column;
        max-width: 44vw;
        margin: 0 auto;
       
    }
    .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        
    }
    .column-card{
        margin: 36px;
        flex: 1;
        align-items: bottom;
    }
    .news-cards {
        display: flex;
        flex-direction: row;
        padding: 10em 0;
        
    }
    .col {
        display: flex;
        flex-direction: column;      
        justify-content: space-between;
        
    }    
    .card-right h2 {
        padding: 0 0 1.25em;
        margin: 0 2em 0 0;
    }
    .card-right a {
        align-self: flex-end; 
        /* ??????????? */
    }
   
}
@media (min-width: 1024px) {
    .footer {
        margin-left:5rem;
        margin-right: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

div.deck-title {
    padding-top: 150px;
    width: 550px;
    margin: 0 auto;
}

.deck-paragraph {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 465px;
    margin: 0 auto;
}

.deck {
    background-color: #F6F6F6;
}

.deck-image {
    width: auto;
}



.fingers {
    display: flex;
}

.fingers-content{
    display: flex;
    flex-direction: column;
}

.fingers-title-text {
    padding-top: 150px;
    width: 550px;
    margin: 0 auto;
}

.fingers-first-paragraph {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 465px;
    margin: 0 auto;
}

.fingers-second-paragraph {
    width: 465px;
    margin: 0 auto;
}



.connected {
    display: flex;
    background-color: #F6F6F6;
}

.connected-content {
    display: flex;
    flex-direction: column;
}

.connected-content-title {
    padding-top: 150px;
    padding-left: 180px;
    width: 50%;
    margin: 0 auto;
}

.connected-content-paragraph {
    padding-top: 50px;
    padding-left: 180px;
    width: 50%;
    margin: 0 auto;
}

.connected-image {

}